In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
os.getcwd()

'/Users/m304210/workspace'

# Day 2

In [53]:
df = pd.read_excel('../Documents/AdventOfCode/20211202_aoc_1.xlsx')

In [54]:
df[['direction','amount']] = df['col1'].str.split(" ",expand=True)
df.drop('col1',axis=1,inplace=True)
df.amount = df.amount.astype(int)

In [55]:
df.loc[df.direction == 'up','amount'] = df.amount * (-1)

In [56]:
df.loc[df.direction == 'up','direction'] = 'down'

In [57]:
df[['direction','amount']].groupby(['direction']).sum()

           amount
direction
down          894
forward      1857

In [58]:
894*1857

1660158

In [97]:
hor = 0
dep = 0
aim = 0

for i in range(len(df)):
#    print(i)
    if df.direction.iloc[i] == 'down':
        aim = aim + df.amount.iloc[i]
    elif df.direction.iloc[i] == 'forward':
        hor = hor + df.amount.iloc[i]
        dep = dep + aim * df.amount.iloc[i]
    else:
        print("error")
        exit
#    print(df.iloc[i])
#    print("hor = " + str(hor) + ", dep = " + str(dep) + ", aim = " + str(aim) + ", result = " + str(hor*dep))

In [98]:
hor*dep

1604592846

# Day 3

In [17]:
df_input = pd.read_csv('../Documents/AdventOfCode/20211203_aoc_input.csv',dtype={'input':str})

In [134]:
df = pd.DataFrame(df_input.input.apply(lambda x: pd.Series(list(x))))

In [135]:
df.columns = ['seq_1','seq_2','seq_3','seq_4','seq_5','seq_6',
              'seq_7','seq_8','seq_9','seq_10','seq_11','seq_12']

In [114]:
df_result = pd.DataFrame(columns=['col_name','num_0','num_1'])
for col in df.columns:
    num_0 = df[col].value_counts()['0']
    num_1 = df[col].value_counts()['1']
    df_temp = pd.DataFrame([[col,num_0,num_1]],columns=['col_name','num_0','num_1'])
    df_result = df_result.append(df_temp)

In [124]:
df_result.loc[df_result.num_0 > df_result.num_1,'most_common_value'] = 0
df_result.loc[df_result.num_0 < df_result.num_1,'most_common_value'] = 1

df_result.most_common_value = df_result.most_common_value.astype(int).astype(str)

gamma_rate_list = df_result.most_common_value.to_list()
gamma_rate = int(''.join(gamma_rate_list),2)

gamma_rate

3827

In [123]:
df_result.loc[df_result.num_0 > df_result.num_1,'least_common_value'] = 1
df_result.loc[df_result.num_0 < df_result.num_1,'least_common_value'] = 0

df_result.least_common_value = df_result.least_common_value.astype(int).astype(str)

epsilon_rate_list = df_result.least_common_value.to_list()
epsilon_rate = int(''.join(epsilon_rate_list),2)

epsilon_rate

268

In [126]:
result = gamma_rate * epsilon_rate
result

1025636

In [136]:
df

    seq_1 seq_2 seq_3 seq_4 seq_5 seq_6 seq_7 seq_8 seq_9 seq_10 seq_11 seq_12
0       1     1     1     0     1     1     0     0     1      0      1      0
1       0     1     0     0     1     1     1     0     1      1      1      0
2       1     1     0     0     0     1     0     0     1      0      1      0
3       0     0     1     1     0     1     0     1     1      1      0      1
4       1     1     0     1     0     0     0     0     0      0      1      1
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...    ...
995     1     0     0     0     0     1     0     1     1      1      1      1
996     0     1     0     0     0     0     1     1     1      1      0      1
997     1     0     0     0     1     1     1     0     0      0      0      1
998     1     0     1     1     0     0     0     1     1      0      1      0
999     1     0     0     1     1     0     1     0     0      0      0      0

[1000 rows x 12 columns]

## oxygen generator rating

In [214]:
df_ox = df.copy()

for col in df_ox.columns:
    if df_ox[col].value_counts()['0'] > df_ox[col].value_counts()['1']:
        result_ox = 0
    elif df_ox[col].value_counts()['0'] == df_ox[col].value_counts()['1']:
        result_ox = 1
    else:
        result_ox = 1

    df_ox = df_ox.loc[df_ox[col].astype(int) == result_ox]
    print(len(df_ox))

    if len(df_ox) == 1:
        break

print(df_ox.index)

oxygen_generator_rating_list = df_ox.iloc[0].to_list()
oxygen_generator_rating = int(''.join(oxygen_generator_rating_list),2)

oxygen_generator_rating

501
257
131
69
40
21
14
7
4
3
2
1
Int64Index([307], dtype='int64')

3089

## CO2 scrubber rating

In [210]:
df_scr = df.copy()

for col in df_scr.columns:
    if df_scr[col].value_counts()['0'] < df_scr[col].value_counts()['1']:
        result_scr = 0
    elif df_scr[col].value_counts()['0'] == df_scr[col].value_counts()['1']:
        result_scr = 0
    else:
        result_scr = 1

    df_scr = df_scr.loc[df_scr[col].astype(int) == result_scr]
    print(len(df_scr))
    
    if len(df_scr) == 1:
        break

print(df_scr)

co2_scrubber_rating_list = df_scr.iloc[0].to_list()
co2_scrubber_rating = int(''.join(co2_scrubber_rating_list),2)

co2_scrubber_rating

499
249
116
57
27
11
5
2
1
    seq_1 seq_2 seq_3 seq_4 seq_5 seq_6 seq_7 seq_8 seq_9 seq_10 seq_11 seq_12
625     0     0     0     1     0     0     0     0     0      0      0      1

257

In [215]:
oxygen_generator_rating * co2_scrubber_rating

793873

# Day 4: Giant Squid

In [100]:
df = pd.read_excel('../Documents/AdventOfCode/20211204_aoc_input.xlsx',header=0,sheet_name='Tabelle1')

In [109]:
# get a list of drawn numbers from input file
drawn_numbers_df = df[:1]

drawn_numbers = drawn_numbers_df.iloc[0].values[0].split(',')

In [101]:
drawn_numbers = [57,9,8,30,40,62,24,70,54,73,12,3,71,95,58,88,23,81,53,80,22,45,98,37,18,72,14,20,66,0,19,31,82,34,55,29,27,96,48,28,87,83,36,26,63,21,5,46,33,86,32,56,6,38,52,16,41,74,99,77,13,35,65,4,78,91,90,43,1,2,64,60,94,85,61,84,42,76,68,10,49,89,11,17,79,69,39,50,25,51,47,93,44,92,59,75,7,97,67,15]

In [102]:
df_boards = df[1:]

df_boards = df_boards.drawn_numbers.str.split(expand=True).reset_index(drop=True)
df_boards.columns = ['col_0','col_1','col_2','col_3','col_4']
df_boards['board'] = np.nan

for ind in df_boards.index:
    df_boards.board.iloc[ind] = str(np.floor(ind/5).astype(int))

/Users/m304210/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [103]:
df_orig = df_boards.copy()

In [110]:
for num in drawn_numbers:
    df_boards[df_boards[['col_0','col_1','col_2','col_3','col_4']] == num] = drawn_numbers.index(num)

In [112]:
dict_boards = {}
for i in df_boards.board.unique():
    dict_boards[i] = df_boards[['col_0','col_1','col_2','col_3','col_4']].loc[df_boards.board == i]

In [113]:
df_result = pd.DataFrame(columns=['board_id','min_number','index'])

In [114]:
for board_id in dict_boards:
    d_board = {}
    for col in dict_boards[board_id].columns:
        d_board[col] = dict_boards[board_id][col].max()

    for row in dict_boards[board_id].index:
        d_board[str(row)] = dict_boards[board_id].loc[row].max()
    
    min_val = min(d_board.values())
    ind = min(d_board, key=d_board.get)
    
    df_result = df_result.append(pd.DataFrame([[board_id,min_val,ind]],columns=['board_id','min_number','index']))

In [116]:
winner_board = df_result.loc[df_result.min_number == df_result.min_number.min(),'board_id'].values[0]

winner_index = df_result.loc[df_result.board_id == winner_board,'index'].values[0]

winner_step = df_result.loc[df_result.board_id == winner_board,'min_number'].values[0]

df_winner_index = dict_boards[winner_board]
df_winner = df_orig[['col_0','col_1','col_2','col_3','col_4']].loc[df_orig.board == winner_board]

In [127]:
for col in df_winner_index.columns:
    df_winner.loc[df_winner_index[col].astype(int) <= winner_step,col] = '0'

result = df_winner.astype(int).values.sum() * int(drawn_numbers[winner_step])
result

In [ ]:
loser_board = df_result.loc[df_result.min_number == df_result.min_number.max(),'board_id'].values[0]

loser_index = df_result.loc[df_result.board_id == loser_board,'index'].values[0]

loser_step = df_result.loc[df_result.board_id == loser_board,'min_number'].values[0]

df_loser_index = dict_boards[loser_board]
df_loser = df_orig[['col_0','col_1','col_2','col_3','col_4']].loc[df_orig.board == loser_board]

In [133]:
for col in df_loser_index.columns:
    df_loser.loc[df_loser_index[col].astype(int) <= loser_step,col] = '0'

result = df_loser.astype(int).values.sum() * int(drawn_numbers[loser_step])
result

24742

# Day 5: Hydrothermal Venture

In [670]:
df_input = pd.read_excel('../Documents/AdventOfCode/20211205_aoc_input.xlsx',header=None,sheet_name='Tabelle1')

In [671]:
df = df_input[0].str.split(expand=True)
df.drop([1],axis=1,inplace=True)

In [672]:
df[['x1','y1']] = df[0].str.split(pat=',',expand=True)
df[['x2','y2']] = df[2].str.split(pat=',',expand=True)
df.drop([0,2],axis=1,inplace=True)
df = df.astype(int)

In [673]:
df_lim = df.loc[(df.x1 == df.x2) | (df.y1 == df.y2)]
df_lim = df_lim.astype(int)

In [674]:
df_new = df_lim.copy()
df_new['x1'] = df_lim.loc[(df_lim.x1 > df_lim.x2),'x2'].astype(int)
df_new['x1'].loc[df_new.x1.isnull()] = df_lim.loc[(df_lim.x1 <= df_lim.x2),'x1'].astype(int)
df_new['x2'] = df_lim.loc[(df_lim.x1 > df_lim.x2),'x1'].astype(int)
df_new['x2'].loc[df_new.x2.isnull()] = df_lim.loc[(df_lim.x1 <= df_lim.x2),'x2'].astype(int)
df_new['y1'] = df_lim.loc[(df_lim.y1 > df_lim.y2),'y2'].astype(int)
df_new['y1'].loc[df_new.y1.isnull()] = df_lim.loc[(df_lim.y1 <= df_lim.y2),'y1'].astype(int)
df_new['y2'] = df_lim.loc[(df_lim.y1 > df_lim.y2),'y1'].astype(int)
df_new['y2'].loc[df_new.y2.isnull()] = df_lim.loc[(df_lim.y1 <= df_lim.y2),'y2'].astype(int)
df_lim = df_new.astype(int)

In [675]:
df_diag = df.loc[abs(df.x1-df.x2) == abs(df.y1-df.y2)]
df_diag = df_diag.astype(int)

In [676]:
max_x = max(df_lim.x1.max(),df_lim.x2.max())
max_y = max(df_lim.y1.max(),df_lim.y2.max())

In [677]:
ls_dots_lim = []
for ind in df_lim.index:
    x1 = df_lim[['x1']].loc[ind].values[0]
    x2 = df_lim[['x2']].loc[ind].values[0]
    y1 = df_lim[['y1']].loc[ind].values[0]
    y2 = df_lim[['y2']].loc[ind].values[0]
    ls_dots_temp = [(x,y) for x in range(x1,x2+1) for y in range(y1,y2+1)]
    if ls_dots_temp:
        ls_dots_lim = ls_dots_lim + ls_dots_temp

In [678]:
ls_dots_diag = []
for ind in df_diag.index:
    x1 = df_diag[['x1']].loc[ind].values[0]
    x2 = df_diag[['x2']].loc[ind].values[0]
    y1 = df_diag[['y1']].loc[ind].values[0]
    y2 = df_diag[['y2']].loc[ind].values[0]
    if (x1-x2 == y1-y2) & (x1 < x2):
        ls_dots_temp = [(x1+i,y1+i) for i in range(x2-x1+1)]
    elif (x1-x2 == (y1-y2)) & (x1 > x2):
        ls_dots_temp = [(x1-i,y1-i) for i in range(x1-x2+1)]
    elif (x1-x2 == -(y1-y2)) & (x1 > x2):
        ls_dots_temp = [(x1-i,y1+i) for i in range(x1-x2+1)]
    elif (x1-x2 == -(y1-y2)) & (x1 < x2):
        ls_dots_temp = [(x1+i,y1-i) for i in range(x2-x1+1)]
    else:
        print(ind)
        ls_dots_temp = []
        
    if ls_dots_temp:
        ls_dots_diag = ls_dots_diag + ls_dots_temp

In [679]:
ls_dots_all = ls_dots_lim + ls_dots_diag
set_dots = set(ls_dots_all)

In [686]:
df_result = pd.DataFrame(ls_dots_all)

In [691]:
df_result['dot'] = df_result[0].astype(str) + ' ' + df_result[1].astype(str)

In [ ]:
df_res = pd.DataFrame(df_result['dot'].value_counts(),columns=['dot'])

In [713]:
df_res[df_res['dot'] > 1].shape

(21101, 1)

# Day 6: Lanternfish

In [344]:
df_input = pd.read_excel('../Documents/AdventOfCode/20211206_aoc_input.xlsx',header=None,sheet_name='Tabelle1')

In [345]:
df = df_input[0].str.split(pat=',',expand=True).transpose()
#df.drop([1],axis=1,inplace=True)

In [347]:
df = df.rename(columns={0:'0'})

In [348]:
df['0'] = df['0'].astype(int)

In [308]:
def new_col(x, prev_day, day):
    if x[prev_day] == 0:
        x[day] = 6
    else:
        x[day] = x[prev_day] - 1
    return x

#df = df.apply(lambda x: new_col(x,'input','1'), axis=1)

In [ ]:
#for day in range(1,81):
#    print(day)
#    df[str(day)] = np.nan
#    df = df.apply(lambda x: new_col(x,str(day-1),str(day)),axis=1)

#    if 0 in df[str(day-1)]:
#        num_zero = df[str(day-1)].loc[df[str(day-1)] == 0].shape[0]
#        new_rows = pd.DataFrame(data=[[np.nan for i in range(day)] for j in range(num_zero)],
#                                columns=[str(x+1) for x in range(day)])
#        new_rows[str(day)] = 8
#        df = df.append(new_rows)

In [233]:
#result = df.shape[0]
#result

380243

In [351]:
df_count = pd.DataFrame([0,0,0,0,0,0,0,0,0],columns=['init'])

In [353]:
df_init = pd.DataFrame(df.groupby('0').size(),columns=['0'])

In [355]:
df_count = df_count.join(
    df_init,
    how='left'
).fillna(0)

df_count.drop('init',axis=1,inplace=True)

In [363]:
for day in range(1,257):
    #print(day)
    df_count[str(day)] = df_count[str(day-1)].shift(-1).fillna(0)
    df_count[str(day)].loc[6] = df_count[str(day)].loc[6] + df_count[str(day-1)].loc[0]
    df_count[str(day)].loc[8] = df_count[str(day)].loc[8] + df_count[str(day-1)].loc[0]

In [362]:
df_count['256'].sum()

1708791884591.0

# Day 7: The Treachery of Whales

In [82]:
import pandas as pd
import numpy as np
df_input = pd.read_excel('../Documents/AdventOfCode/20211207_aoc_input.xlsx',header=None,sheet_name='Tabelle1')

In [83]:
df = df_input[0].str.split(pat=',',expand=True).transpose()
df = df.astype(int)

In [93]:
v = df[0]

In [32]:
result_part1 = (df[0].astype(int) - df[0].astype(int).median()).abs().sum()

In [91]:
ls = []
for i in range(v.max()):
    s = ((v-i).abs()*((v-i).abs()+1)/2).sum()
    ls.append(s)

In [92]:
result_part2 = min(ls)
result_part2

98925151.0

# Day 8: Seven Segment Search

In [289]:
df_input = pd.read_excel('../Documents/AdventOfCode/20211208_aoc_input.xlsx',header=None,sheet_name='Tabelle1')

In [290]:
df = df_input[0].str.split(expand=True,pat="|")

In [58]:
df_output = df[1].str.split(expand=True)

In [60]:
def string_len(x,col):
    x[col] = x[col].str.len()

#string_len(df_output,3)

In [61]:
for col in df_output.columns:
    string_len(df_output,col)

In [64]:
result_part1 = df_output[df_output.isin([2,3,4,7])].count().sum()
result_part1

355

In [291]:
df = df_input[0].str.split(expand=True,pat='|')
df_rule = df[0].str.split(expand=True)
df_output = df[1].str.split(expand=True)

In [292]:
result = 0
for ind in range(df.shape[0]):
    ls_rule = list(df_rule.iloc[ind])
    
    d = {}
    d[1] = [x for x in ls_rule if len(x)==2][0]
    ls_rule.remove(d[1])
    d[7] = [x for x in ls_rule if len(x)==3][0]
    ls_rule.remove(d[7])
    d[4] = [x for x in ls_rule if len(x)==4][0]
    ls_rule.remove(d[4])
    d[8] = [x for x in ls_rule if len(x)==7][0]
    ls_rule.remove(d[8])
    d[9] = [x for x in ls_rule if set(d[4]).issubset(x) and set(d[7]).issubset(x) and len(x)==6][0]
    ls_rule.remove(d[9])
    d[0] = [x for x in ls_rule if set(d[7]).issubset(x) and len(x)==6][0]
    ls_rule.remove(d[0])
    d[6] = [x for x in ls_rule if len(x)==6][0]
    ls_rule.remove(d[6])
    d[3] = [x for x in ls_rule if len(x)==5 and set(d[1]).issubset(x)][0]
    ls_rule.remove(d[3])
    d[5] = [x for x in ls_rule if len(set(x).intersection(d[6]))==5][0]
    ls_rule.remove(d[5])
    d[2] = ls_rule[0]
    
    d2 = {k: set(v) for k, v in d.items()}
    
    ls_output = list(df_output.iloc[ind])
    
    result_row = list(d2.keys())[list(d2.values()).index(set(ls_output[0]))]*1000 \
        + list(d2.keys())[list(d2.values()).index(set(ls_output[1]))]*100 \
        + list(d2.keys())[list(d2.values()).index(set(ls_output[2]))]*10 \
        + list(d2.keys())[list(d2.values()).index(set(ls_output[3]))]
    result = result + result_row

In [293]:
result

983030