In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Day 13: Transparent Origami

In [221]:
df_input = pd.read_csv('20211213_aoc_input_1.csv',header=None,dtype=str)

In [251]:
#df_coord = df_input.loc[:len(df_input)-3,:]
df_coord = df_input.loc[:len(df_input)-13,:]
df_coord.columns = ['c','r']
df_coord = df_coord.astype(int)
#df_fold = df_input[0].loc[len(df_input)-2:]
df_fold = df_input[0].loc[len(df_input)-12:]

In [252]:
shape_c = df_coord.c.max()
shape_r = df_coord.r.max()

In [253]:
df = pd.DataFrame([['.' for x in range(shape_c+1)] for y in range(shape_r+1)],columns=[i for i in range(shape_c+1)])

In [254]:
for r in df_coord.index:
    df.loc[df_coord.loc[r,'r'],df_coord.loc[r,'c']] = '#'

In [255]:
# fold along y=7
def fold_along_y(df,df_coord,y):
    df_coord.r.loc[df_coord.r > y] = df_coord.r.loc[df_coord.r > y].apply(lambda x: x - 2*abs(x - y))
    for r in df_coord.index:
        df.loc[df_coord.loc[r,'r'],df_coord.loc[r,'c']] = '#'

    return df.loc[:y-1,:], df_coord

In [256]:
# fold along x=655
def fold_along_x(df,df_coord,x_line):
    df_coord.c.loc[df_coord.c > x_line] = df_coord.c.loc[df_coord.c > x_line].apply(lambda x: x - 2*abs(x - x_line))
    for r in df_coord.index:
        df.loc[df_coord.loc[r,'r'],df_coord.loc[r,'c']] = '#'

    return df.loc[:,:x_line-1], df_coord

In [257]:
df, df_coord = fold_along_x(df,df_coord,655)
df, df_coord = fold_along_y(df,df_coord,447)
df, df_coord = fold_along_x(df,df_coord,327)
df, df_coord = fold_along_y(df,df_coord,223)
df, df_coord = fold_along_x(df,df_coord,163)
df, df_coord = fold_along_y(df,df_coord,111)
df, df_coord = fold_along_x(df,df_coord,81)
df, df_coord = fold_along_y(df,df_coord,55)
df, df_coord = fold_along_x(df,df_coord,40)
df, df_coord = fold_along_y(df,df_coord,27)
df, df_coord = fold_along_y(df,df_coord,13)
df, df_coord = fold_along_y(df,df_coord,6)

In [260]:
df.loc[:,:18]

  0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17 18
0  .  #  #  .  .  #  #  #  #  .  .  .  #  #  .  #  .  .  #
1  #  .  .  #  .  #  .  .  .  .  .  .  .  #  .  #  .  #  .
2  #  .  .  .  .  #  #  #  .  .  .  .  .  #  .  #  #  .  .
3  #  .  .  .  .  #  .  .  .  .  .  .  .  #  .  #  .  #  .
4  #  .  .  #  .  #  .  .  .  .  #  .  .  #  .  #  .  #  .
5  .  #  #  .  .  #  #  #  #  .  .  #  #  .  .  #  .  .  #

In [259]:
df.loc[:,19:]

  19 20 21 22 23 24 25 26 27 28  ... 30 31 32 33 34 35 36 37 38 39
0  .  #  .  .  .  .  #  .  .  #  ...  .  #  #  .  .  .  .  #  #  .
1  .  #  .  .  .  .  #  .  .  #  ...  #  .  .  #  .  .  .  .  #  .
2  .  #  .  .  .  .  #  .  .  #  ...  #  .  .  .  .  .  .  .  #  .
3  .  #  .  .  .  .  #  .  .  #  ...  #  .  #  #  .  .  .  .  #  .
4  .  #  .  .  .  .  #  .  .  #  ...  #  .  .  #  .  #  .  .  #  .
5  .  #  #  #  #  .  .  #  #  .  ...  .  #  #  #  .  .  #  #  .  .

[6 rows x 21 columns]